*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgray;
    overflow: hidden;
}
#heading{
    text-align: center;
    margin: 20px;
}
.plane #planepic{
    border-radius: 15px;
}
.plane #planetxt{
    transform: translateX(65px);
}
.plane{
    transform: translate(400px, 150px);
}
#type{
    transform: translate(745px, -50px);
}
.input{
    transform: translate(750px, -30px);
}
#number{
    width: 135px;
}
#buy{
    border: none;
    border-radius: 25px;
    height: 60px;
    width: 120px;
    background-color: hsl(0, 0%, 43%);
    transition: background-color 0.5s;
    transform: translate(620px, 150px);
    color:  white;
    font-size: 20px;
}
#buy:hover{
    background-color: hsl(0, 2%, 33%);
    background-color: hsl(0, 2%, 23%);
    background-color: hsl(0, 2%, 13%);
    background-color: hsl(0, 2%, 0%);
    cursor: pointer;
}
#warning{
    transform: translate(-600px, 130px);
    font-size: 27px;
}
main{
    transform: translateY(-250px);
}
.dropdown{
    transform: translate(1250px, -75px);
}
#translate-image{
    width: 85px;
    margin-top: 8px;
}
.languageS{
    display: inline-block;
}
.languageS button{
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
}
.languageS a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}
#top-bar{
    position: fixed;
    right: 0;
    left: 0;
    height: 90px;
    z-index: 1;
    background-color: hsl(0, 0%, 83%);
}
.languageS .languages{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: hsl(0, 0%, 43%);
    transition: opacity 0.5s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.languageS:hover .languages{
    visibility: visible;
    opacity: 1;
}
.languages a:hover{
    background-color: hsl(0, 0%, 23%);
}
.languages #English:hover{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#home-click{
    transform: translate(0px, -140px);
    border: none;
    background-color: lightgray;
    cursor: pointer;
}
#home-image{
    margin-left: 10px;
    width: 86px;
}
#Arabic{
    text-align: center;
}
